<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionPoolDao" class="ru.otus.spring.dao.CSVReaderDAO">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="quizService" class="ru.otus.spring.service.QuizServiceImpl">
        <constructor-arg index="0" ref="questionPoolDao"/>
    </bean>

    <bean id="printerService" class="ru.otus.spring.service.PrinterServiceImpl">
    </bean>

    <bean id="readerService" class="ru.otus.spring.service.ReaderServiceImpl">
        <constructor-arg index="0" ref="quizService"/>
        <constructor-arg index="1" ref="printerService"/>
    </bean>

</beans>